---
// import global CSS
import "../styles/global.css";
// using a BaseLayout for
import BaseLayout from "../layouts/BaseLayout.astro";
// import BlogPost component
import BlogPost from "../components/BlogPost.astro";
// to return information about all your Markdown files.
// import.meta.glob() will return an array of objects, one for each blog post.
const allPosts = Object.values(
    import.meta.glob("./posts/*.md", { eager: true }),
);
// --- Metadata ---
// page title
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
    <h2>This is where I will post about my journey learning Astro.</h2>
    <p>Latest Posts:</p>
    <!-- Linking the blog posts/ content  -->
    <ul>
        <!-- 
        // replacing individual list elements with astro-supported typescript.
            entire list of blog posts is now being generated dynamically using Astro’s built-in TypeScript support, 
            by mapping over the array returned by import.meta.glob().
        -->
        {
            allPosts.map((post: any) => (
                <BlogPost url={post.url} title={post.frontmatter.title} />
            ))
        }
    </ul>
</BaseLayout>
