---
// import Navigation to Header
import Navigation from "./Navigation.astro";
// import Menu for mobile use
import Menu from "./Menu.astro";
// import icon for light/dark mode
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
    <nav>
        <div>
            <ThemeIcon />
            <Menu />
        </div>
        <Navigation />
    </nav>
</header>

<style>
    div {
        display: flex;
        justify-content: space-between;
    }
</style>
