---
// import global CSS
import "../styles/global.css";
---

<h2>Welcome to <span class="logo">PortJourney!</span></h2>
<p>
    A place where I go into more detail of my journey as a Web Devloper and
    Computer Science Student.
</p>
